.container {
    width: min(60% - 2rem);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;   
    border: 1px solid rgba(0,0,0,0.3);
}

@media (max-width:992px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
    }
}

.card { 
    margin: 0.5rem 0.5rem;
    color: var(--fcolor);
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    
}
.card > * {
    margin-bottom: 0.5rem;
}

.card > img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.tags {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    padding-bottom: 0.5rem;
}


.tags li {
    background-color: #cfcfd8;
    padding: 10px;
    border-radius: 5px; 
}

